Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
flask-sock==0.5.2
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
gunicorn==21.2.0
imutils==0.5.4
keras==2.13.1
Keras-Preprocessing==1.1.2
numpy==1.22.0
opencv-python-headless==4.6.0.66
pandas==1.4.3
tensorflow==2.13.0